*{
    @import url('https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300&display=swap');

}
body{
    font-family: 'Roboto';
    background-image:url('../img/abstract-futuristic-background-with-3d-design.jpg');
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
 background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main h1{
    color: rgb(34, 155, 70);
    text-align: center;
}
h2, h3, h4{
    margin-top: 10px;
    color:white;
    font-size:20px ;
    display: flex;
    
}
/*-----------------------------------------------------------comienzo de menu-----------------------------------------*/
.Menu {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 50px 0;
}

nav {
    background: #1777b8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 20px;
    border-radius: 5px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all; 
}
nav .enlaces {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

nav .enlaces a {
    margin-right: 40px;
    text-decoration: none;
    color:rgba(250, 246, 246, 0.966);
    font-size: 20px;
}

nav .enlaces a:hover {
    color: #707070;
    
}
/*------------------------------------------fin de menu---------------------------------------------*/
/*----------------------------------------------contenido-producto-----------------------------------------*/
.conten-producto {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;

}

.productos {
    padding-top: 30px;
    margin-bottom: 80px;
    margin: 10px;
    background: #0F2027;
     box-shadow: 8px 20px #88888849;
     border-radius:2%;
     opacity:80%;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.productos h1{
       color: rgb(34, 155, 70);
    text-align:center;
}
.producto_1 {

    width: 100%;
    display: flex;
}

.producto_1 .pro {
    width: 55%;
    background: rgba(255, 255, 255, .2);
    box-shadow: 5px 10px #88888849;
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.producto_1 .pro img {
    width: 150px;
    display: block;
    margin: auto;

}

.producto_1 .pro h4 {
    color: rgba(51, 201, 64, 0.836);
    text-align: center;
    margin: 50 0px;
    font-size: 30px;
    font-weight: 900;
    box-shadow: rgba(255, 255, 255, 0.767);
}

.producto_1 .pro p {
    color: #f2f5fc;
    font-weight: 300;
    margin-bottom: 10px;
    font-size: 17px;
    line-height: 33px;
}

strong{
    color:aqua;
}
/*------------------------------------------------------------------fin---------------------------------------------------------*/
.servicios{
    margin:30px;
    display: flex;
    flex-direction: column;
}
.servicios ol {
    background-color: #bbd0df56;
    color:white;
        border-radius: 2%;
        max-width: 800px;
        height: 200px;
        margin:10px;
        padding-top:15px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        box-shadow: 8px 20px #88888849;
}
.servicios ol li{
    font-size: 20px;
}
.consulta{
    margin-top:40px;
    margin-left: 10px;
}
.consulta p{
    color: white;
    padding: 10px;
}
.pie{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
footer{
    font-size:15px;
    margin: 10px;
    background-color: #bbd0df56;
    height:80px;
    text-align: center;
    display: flex;
    justify-content:center;
    align-items: center;
}
footer h1 {
    color:white;
    width:100%;
    border-radius:2%;
    text-align: center;
}
footer p{
    color:white;
    text-align: justify;
}
footer a {
    color:#fff;
    text-decoration: none;
    text-align: center;
}
footer a:hover{
    color:aqua;
    font-size:20px;
}